<section class="t-center">
  <h1>ゆる勉ユーザー一覧</h1>
  <% if user_signed_in? %>
  <div class="users_box flex flex-wrap ">
    <% @users.each do |user| %>
    <div class="user_box">
      <% if user.image? %>
      <%= link_to image_tag(user.image.url), user_path(user.id) %>
      <% else %>
      <%= link_to image_tag("no-image.png"), user_path(user.id) %>
      <% end %>

      <% if user.name? %>
      <p><%= user.name %></p>
      <% else %>
      <p>名無しさん</p>
      <% end %>
    </div>
    <% end %>
  </div>

  <button class="btn_common c-yellow t-center">
    <%= link_to 'マイページへ', user_path(current_user.id) %>
  </button>

  <% else %>
  <div class="alert alert-warning text-center my-4 mx-5" role="alert">
    <a class="text-danger" href="/users/sign_in">
      <strong>ログインしてください</strong>
    </a>
  </div>
  <% end %>
</section>
