<p>名前：</p>
<%= @user.name %>
<p>自己紹介：</p>
<%= @user.profile %>
<hr>
<p>参加予定の勉強会</p>
<% @user_events.each do |event| %>
  <p><%= link_to event.name, event_path(event.id) %>
    <% if event.event_user?(current_user) %> <!-- ログインしているユーザーが参加中かどうかで分岐 -->
      <span class="event-cancel"><%=link_to "やめる", event_event_users_path(event.id), method: :delete %></span>
    <% end %>
  </p>
<% end %>
