/* ==============================================================
*  カラー
* ============================================================ */
$color-red: #FB7F89;
$color-blue: #43B4F8;
$color-yellow: #FFDE63;
$color-black: #707070;


/* ==============================================================
*  ブレイクポイント
* ============================================================ */
$breakpoint-tab: 1140px;
$breakpoint-sp: 640px;
