<section>
  <h1>過去に開催されたイベント</h1>
  <%= render "event_list" %>
  <hr>

  <button class="btn btn-lg btn-bg btn-register" type="button">
    <%= link_to "開催予定のイベント一覧へ", events_path %>
  </button>
</section>
