<section>
<h1>開催予定の勉強会</h1>
<div class="flex">
  <% @events.each do |event| %>
  <div class="event-box">
    <h2 class="h2-events"><%= event.name %></h2>
    <% if event.event_user?(current_user) %> <!-- ログインしているユーザーが参加中かどうかで分岐 -->
      <p class="event-reservation event-label">参加予定</p>
    <% else %>
      <p class="event-join event-label"><%=link_to "参加する！", event_event_users_path(event.id), method: :post %><p>
    <% end %>
    <p class="event-participants event-label">参加人数： <%= event.event_users.count %></p>
  </div>
  <% end %>
</div>

<hr>
<button class="btn btn-lg btn-bg btn-register" type="button">
  <%= link_to "勉強会を企画する ▶︎", new_event_path %>
</button>
</section>
