<div class="display-center flex">
  <section class="flex-inner2">
    <h1 class="h1-concept">
      誰でもゆるっと<br>
      勉強会を企画！
    </h1>
    <p class="p-desc">
      ゆる勉は、何かを必死に勉強している<br>
      あなたのための支援サービスです。<br>
      学習を楽しく継続するために<br>
      少人数の勉強会を習慣化しよう！
    </p>
    <button class="btn btn-lg btn-bg btn-register" type="button">
      <% if user_signed_in? %>
      <%= link_to "イベント一覧へ ▶︎", events_path, class: 'nav-link post' %>
      <% else %>
      <%= link_to "ゆる勉に参加する ▶︎", new_user_registration_path, class: 'nav-link post' %>
      <% end %>
    </button>
  </section>
  <section class="flex-inner2">
    <h2 class="h2-event">NEW！</h2>
    <div class="evnet-list">

      <table class="event-list-box">
        <tbody>
          <% @events.each do |event| %>
          <tr>
            <td><%= event.name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </section>
</div>
