/* ==============================================================
*  横幅
* ============================================================ */
.w-768 {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}

.w-49 {
  width: 49%;
}
