/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

a {
  color: #707070 !important;
  text-decoration: none !important;
}

h2 {
  font-size: 25px;
  margin: 0 auto;
  text-align: center;
}

p,
a,
small {
  font-size: 20px;
  ;
}

h1,
  {
  line-height: 1.5;
}

p,
h2 {
  line-height: 2;
}

.flex {
  display: flex;
  align-items: flex-start;
}

body {
  font-family: 'Toppan Bunkyu Midashi Gothic',
    'Arial',
    YuGothic,
    'Yu Gothic',
    'Hiragino Kaku Gothic ProN',
    'ヒラギノ角ゴ ProN W3',
    'メイリオ',
    Meiryo,
    'ＭＳ ゴシック',
    sans-serif;
  height: 100vh;
  width: 100vw;
  color: #707070;
}


/*---header---*/
header {
  width: 100%;
  background: #fff;

  nav {
    max-width: 1140px;
    height: 80px;
    margin: 0 auto;

    .logo-img {
      width: 150px;
    }

    #navbarNav ul {
      position: absolute;
      right: 0%;
    }
  }
}

/*---main---*/
main {
  margin: 50px 0;
}

/*---footer---*/
footer {
  position: absolute;
  bottom: 1%;
  right: 1%;
}

/*---home---*/
.homes {
  background: #FDDA63;
}

.display-center {
  max-width: 1140px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.flex-inner2 {
  width: 48%;
  padding: 2%;
}

.h1-concept {
  font-size: 60px;
  margin-bottom: 40px;
}

.p-desc {
  margin-bottom: 60px;
}

.h2-event {
  border: 3px solid;
  padding: 10px;
  background: #fff;
  width: 330px;
  border-radius: 10px;
}

.btn-register {
  width: 350px;
  background: #fff;
  border-radius: 50px;

  a {
    font-size: 25px;
    text-shadow: none !important;

    &:hover {
      color: #FDDA63 !important;
    }

  }
}
