/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

/*---common---*/
body {
  font-family: '筑紫A丸ゴシック',
    'Arial',
    'Yu Gothic',
    'Hiragino Kaku Gothic ProN',
    'ヒラギノ角ゴ ProN W3',
    'メイリオ',
    'ＭＳ ゴシック',
    sans-serif;
  min-height: 100vh;
  width: 100vw;
  height: 100%;
  color: #707070;
}

h1,
h2,
.p-desc {
  font-family: 'Toppan Bunkyu Midashi Gothic';
}

h1 {
  line-height: 1.5;
  text-align: center;
}

h2 {
  font-size: 25px;
  margin: 0 auto;
  text-align: center;
}

p,
h2 {
  line-height: 2;
}

p,
a,
small {
  font-size: 18px;
}

a {
  color: #707070 !important;
  text-decoration: none !important;
  text-shadow: none !important;

  &:hover {
    opacity: 0.7;
  }
}

img {
  max-width: 100%;
}


/*---sub_common---*/
.flex {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  .flex-inner2 {
    width: 50%;
    padding: 2% 5%;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}


/*---header---*/
header {
  width: 100%;
  background: #fff;

  nav {
    max-width: 1140px;
    height: 80px;
    margin: 0 auto;

    .logo-img {
      width: 150px;
    }

    #navbarNav ul {
      position: absolute;
      right: 0%;
    }
  }
}

/*---main---*/
main {
  margin: 50px 0;
}

/*---footer---*/
footer {
  position: fixed;
  bottom: 1%;
  right: 1%;
}

/*---homes---*/
#homes_index {
  background: #FDDA63;
}

.display-center {
  max-width: 1140px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.h1-concept {
  font-size: 60px;
  margin-bottom: 40px;
  text-align: left;
}

.p-desc {
  margin-bottom: 60px;
}

.h2-event {
  padding: 10px;
  max-width: 350px;
  border-radius: 10px;
}

.event-list-box {
  border: 5px solid;
  background: #fff;
  width: 400px;
  margin: 0 auto;

  td {
    padding: 10px;
    border-bottom: 5px solid;
    vertical-align: middle;
    height: 87px;

    a {
      font-size: 18px;
      font-weight: bold;
    }
  }

  .td_image {
    width: 73px;
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.date_font {
  font-size: 14px;
  opacity: 0.7;
}

/*---勉強会一覧---*/
.h2-events {
  text-align: left;
  margin-bottom: 15px;
}

.event_btn_box {
  margin: 30px 0;
  text-align: center;
}

.event-box {
  width: 31.3%;
  padding: 1%;
  border: 3px solid;
  margin: 1.5% 1%;

  .event_box_thumbnail {
    width: 100%;
    height: 210px;
    object-fit: cover;
  }

  .event_box_title {
    margin: 15px 0 10px;

  }

  .event-label {
    padding: 0px 10px;
    text-align: center;
    border-radius: 50px;
    width: 49%;
    display: inline-block;
  }

}

.event_user_img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

/*---イベント詳細ページ---*/
.thumbnail-box {
  padding: 20px 0;
  text-align: center;

  img {
    border-radius: 30px;
    width: 100%;
    max-height: 512px;
    object-fit: cover;
  }
}

.event_contents {
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  font-size: 15px;
  min-height: 200px;
}


/*---ユーザー一覧---*/
.users_box {
  margin: 0 auto;
}

.user_box {
  display: inline-block;
  width: 18%;
  margin: 2% 1%;

  img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 50%;
  }
}

/*---マイページ---*/
.profile {
  width: 350px;
  margin: 0 auto;
  text-align: center;

  .profile_text {
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    font-size: 15px;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.reserved_event {
  margin: 30px auto;

  .reserved_event_h {
    width: 200px;
    background: #48B0E9;
    color: #fff;
    padding: 5px;
    text-align: center;
  }

  .cancel {
    border: 1px solid;
    padding: 0 5px;
  }
}


/*---btn---*/
button {
  font-weight: normal !important;
}

.btn-register {
  width: 350px;
  background: #fff;
  border-radius: 50px;

  &:hover {
    background: #fff !important;
    border: 1px solid;
  }

  a {
    font-size: 25px;
  }
}

.btn_common {
  margin: 15px 0;

  &:hover {
    background: #fff !important;
  }
}

.btn_event {
  width: 150px;
  border: 2px solid #707070;
  padding: 10px;
  margin: 0 5px;
  color: #fff !important;

  &:hover {
    background: #fff;
    font-weight: bold;
  }
}

.btn_event_new {
  background: #FB7F89;

  &:hover {
    color: #FB7F89 !important;
  }
}

.btn_event_past {
  background: #707070;

  &:hover {
    color: #707070 !important;
  }
}

/*---form---*/
form {
  width: 350px;
  margin: 0 auto;
}

.field {
  margin-bottom: 30px;

  input,
  textarea {
    width: 100% !important;
  }
}

.actions input {
  width: 100px !important;
}

/*---Color---*/
.c-yellow {
  background: #FFDE63;
}

.c-blue {
  background: #43B4F8;

  a {
    color: #fff !important;
  }
}

.c-red {
  background: #FB7F89;

  &:hover {
    a {
      color: #707070 !important;
    }

  }

  a {
    color: #fff !important;
  }
}

/*---長さ---*/
.w-768 {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}

.w-49 {
  width: 49%;
}


/*---位置・場所---*/
.t-center {
  text-align: center;
}
